@import "Global";

.todoItem {
  background-color: #a2a2a0;
  padding: 15px;
  margin: 5px;
  .deleteItem {
    background-color: red;
    padding: 2px;
    margin: 25px 2px 25px 2px;
    cursor: pointer;
  }
  input {
    @include text-field;
    width: 50%;
  }
}